@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Body Styling */
body {
  @apply bg-background text-textMain font-sans;
}

/* Smooth transitions globally */
* {
  transition: all 0.5s ease;
}
